* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 80px;
}

.section-title__title {
    color: #222;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media (max-width: 1087px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992.98px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
    }
}

/* !HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header {
    position: absolute;
    width: 100%;
    padding: 58px 0;
    z-index: 5;
}

.header__body {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__menu-item {
    color: #fff;
    text-transform: uppercase;
}

.header__menu-item:not(:last-child) {
    margin-right: 40px;
}

@media (max-width: 767.98px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .burger__center {
        position: absolute;
        left: 0;
        background-color: #fed136;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 11;
        transition: all .3s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #fed136;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 11;
        transition: all .3s ease 0s;
    }

    .header__burger::before {
        bottom: 0;
    }

    .header__burger::after {
        top: 0;
    }

    .header__burger.active::after {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active .burger__center {
        transform: scale(0);
    }

    .header__burger.active::before {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 150%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #FE8936;
        z-index: 10;
        transition-duration: .3s;
    }

    .header__menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__menu-item {
        font-size: 2em;
        font-weight: bold;
    }

    .header__menu.active {
        left: 50%;
    }

}

/* !HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* ?INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO   */
.intro {
    position: relative;
    padding: 280px 0px 200px 0px;
}

.intro__body {
    position: relative;
    z-index: 2;
    text-align: center;
}

.intro__title {
    font-size: 2.5rem;
    color: #fff;
}

.intro__title:not(:last-child) {
    padding-bottom: 50px;
}

.intro__subtitle {
    font-size: 4.6875rem;
    font-weight: bold;
    color: #fff;
}

.intro__subtitle:not(:last-child) {
    padding-bottom: 60px;
}

.intro__btn a {
    color: #fff;
    font-weight: bold;
    background-color: #fed136;
    padding: 25px 50px;
}


.intro__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* ?INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO INTRO   */
/* !SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES       */

.services {
    padding: 120px 0;
}

.info-column {
    display: flex;
    text-align: center;
    gap: 85px;
}

@media (max-width: 767.98px) {
    .info-column {
        flex-direction: column;
        gap: 25px;
    }
}

.info-column__item {
    flex: 1 1 33.333%;
}

.info-column__icon {
    margin: 0 auto 25px auto;
    width: 75px;
    height: 75px;
}

.info-column__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-column__title {
    margin-bottom: 20px;
    color: #222;
    font-size: 1.125rem;
    font-weight: bold;
}

.info-column__desc {
    font-size: .875rem;
    line-height: 1.143;

}

/* !SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES       */

/* ?PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO  */

.portfolio {
    background-color: #f7f7f7;
    padding: 120px 0px;
}

.portfolio__imgs {}

.img-row {
    display: flex;
    gap: 35px;
}

.img-row__item {
    flex: 0 1 33.333%;
    height: 300px;
    /* width: 300px; */
}

.img-row__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ТЕЛЕФОНЫ */
@media (max-width: 767.98px) {
    .img-row {
        flex-direction: column;
        gap: 15px;
    }
}

/* ?PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO  */
/* !ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT     */
.about {
    padding: 120px 0;
}

.about__item:not(:last-child) {
    margin-bottom: 95px;
}

.item-about {
    display: flex;
}

.item-about__text {
    flex: 0 1 40%;
}

.item-about__img {
    flex: 0 1 60%;
    margin-left: 40px;
    height: 183px;
}

.item-about__text {
    text-align: right;
}

.item-about__date {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-bottom: 15px;
    align-items: center;
}

.item-about__date-mounth,
.item-about__date-year,
.item-about__title {
    color: #222;
}

.item-about__date,
.item-about__title {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
}

.item-about__title {
    text-transform: capitalize;
}

.item-about__title:not(:last-child) {
    margin-bottom: 20px;
}

.item-about_reverse-direction {
    flex-direction: row-reverse;
}

.item-about_reverse-direction .item-about__date {
    justify-content: flex-start;
}

.item-about_reverse-direction .item-about__text {
    text-align: left;
    padding-left: 40px;
}

.item-about_reverse-direction .item-about__img {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 992.98px) {
    .item-about__img {
        flex: 0 1 69%;
    }
}

@media (max-width: 767.98px) {
    .item-about {
        flex-direction: column-reverse;
    }

    .item-about__text {
        text-align: center;
    }

    .item-about__date {
        justify-content: center;
    }

    .item-about__img {
        margin-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .item-about_reverse-direction .item-about__text {
        text-align: center;
        padding-left: 0;
    }

    .item-about_reverse-direction .item-about__img {
        justify-content: center;
    }

    .item-about_reverse-direction .item-about__date {
        justify-content: center;
    }
    
}
/* !ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT     */

/* ?FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER    */
.footer {
    padding: 120px 0;
}
.footer__title {
    text-align: center;
    font-size: 0.875rem;
}
/* ?FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER    */
